.section {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 1300px;
    width: 90%;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--color-primary);
    -webkit-box-shadow: 15px 15px 0px 0px var(--color-shadow-primary);
    -moz-box-shadow: 15px 15px 0px 0px var(--color-shadow-primary);
    box-shadow: 15px 15px 0px 0px var(--color-shadow-primary);
}

.button_wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.delete_button .edit_button {
    transition: 0.25s;
}

.comments_button {
    margin-right: 9px;
}

.delete_button {
    margin-left: 7px;
}

.delete_button:hover,
.edit_button:hover,
.comments_button:hover {
    transform: translateY(-2px);
}


.comments_icon {
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.edit_icon {
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.delete_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .section {
        width: 95%;
        padding: 15px 10px;
    }
}