.section {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    row-gap: 15px;
    margin-top: 44px;
    padding-top: 24px;
}

.naw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

@media (max-width: 768px) {
    .section {
        gap: 3.33%;
        row-gap: 15px;
    }
}